body{
    margin: 0px;
}

.main{
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 80%;
    padding: 30px;
    background-color: aqua;
    color: #000;
}

.main #title{
    font-size: 5em;
    text-align: center;
    color: #FFF;
    text-shadow: 2px 2px 2px #000;
}

#main-content{
    font-size: 3em;
    margin-top: 50px;
}

#left{
    font-size: 1em;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    padding-top: 10px;
    width: 20%;
    background-color: rgb(65, 65, 65);
    color: #FFF;
}

.pageNavigators{
    border: 1px solid #FFF;
    border-radius: 10px;
}

.links{
    cursor: pointer;
    padding: 10px;
    margin-left: 10px;
}

.navigators{
    position: absolute;
    bottom: 20px;
    font-size: 3em;
    color: white;
    font-weight: bold;
}

#prev{
    left: 20px;
}

#next{
    right: 20px;
}

.deactivated{
    color: grey;
}