body{
    margin: 0px;
}

#left{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 20%;
    background-color: rgb(65, 65, 65);
    color: #FFF;
}

#main{
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 80%;
    background-color: aqua;
    color: #000;
}

a{
    color: aquamarine;
    text-decoration: none;
}